*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;

}

main{
  min-height: 80vh;
}

.row__container{
  height: 300px;
}


.card__container{
  height: 100%;
  width: 100%;
  transition: transform 0.5s ;
}

.card__container:hover{
  transform: scale(1.08);
}


.card__image{
  height : 100%;
  width: 100%;
}

.form__container{
  width: 60%;
}

.form__container__blog{
  width: 100%;
}

.card__img{
  height : 400px;
}